<div style="padding-top: 60px;">
  <div>
    <img alt={{movie.aTitle}} src={{movie.aWideImage}} />
  </div>
  <p style="color:blanchedalmond">

    {{movie.aTitle}}<br>
    {{movie.aMovieDescription}}<br>
    {{movie.aDuration}}<br>
    {{movie.aPrice}}<br>
    {{movie.aPurchasePrice}}<br>
    {{movie.aRating}}<br>
    {{movie.aGenre}}<br>
    <img width=200px height=300px alt={{movie.aTitle}} src={{movie.aImageLink}} /><br>
  </p>
  <table style="color:blanchedalmond">
    <tr *ngFor="let index of movie.tblMovieActorMapping; index as i">
      <td>{{movie.tblMovieActorMapping[i].aActor.aActorName}}</td>
    </tr>
  </table>
  <table style="color:blanchedalmond">
    <tr *ngFor="let index of movie.tblMovieDirectorMapping; index as i">
      <td>{{movie.tblMovieDirectorMapping[i].aDirector.aDirectorName}}</td>
    </tr>
  </table>
  <iframe width=560px height=315px [src]='safeUrl' frameborder="0" allowfullscreen></iframe>
</div>
