<div class="container" style="padding-top: 60px;" >
  <div class="row">
    <div class=" text-center carousel-inner">
      <div *ngFor="let tblmovie of tblmovies">
        <div class=' carousel-item bg-black dib br1 pa1   ma2 grow bw2 shadow-5 item' style="max-width:210px; max-height:370px ;overflow:hidden;">
          <img width=200px height=300px alt='movieImage' src = {{tblmovie.aImageLink}}/>
          <div  class="text-center">
            <h6 max-width=200px max-height=320px style="color:white; overflow: hidden;">{{tblmovie.aTitle}}</h6> 
            <p  style="color:white;">{{tblmovie.aPrice}}$
              {{tblmovie.aPurchasePrice}}$ 
              {{tblmovie.aRating}}⭐
            </p>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>