<div class="container search-product" style="padding-top: 80px; padding-left: 25px;">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2 " type="text" name="search" [(ngModel)]="search" autocomplete = "off" box-sizing="border-box"
     style="color: #919191 ; background-color: #333; border: 2px solid #333;" 
     placeholder="Search" 
     aria-label="Search">
    <button class="btn btn-outline-danger my-2 my-sm-0" 
    type="submit">Search</button>
    <div class="col">
      <div class="btn-group float-right" style="padding-right: 10px;">
        <button type="button" name="orderBy" class="btn btn-outline-danger" 
        [(ngModel)]="movieParams.orderBy" (click)="getValues()" btnRadio="rating">Ratings</button>
        <button type="button" name="orderBy" class="btn btn-outline-danger"
         [(ngModel)]="movieParams.orderBy" (click)="getValues()" btnRadio="rentalPrice">Rental Price</button>
      </div>
    </div>
  </form>
</div>
<div class="container" style="padding-top: 30px;" >
  <div class="row">
    <!-- <div class=" text-center"> -->
      <div *ngFor="let tblmovie of tblmovies | filter:search" class="col-lg-3 col-md-4 col-sm-6">
        <div class=' bg-black dib br1 pa1   ma2 grow bw2 shadow-5 item' style="max-width:230px; max-height:380px ;overflow:hidden; border: blanchedalmond;">
          <a [routerLink]="['/movies',tblmovie.aMovieId]" ><img class="border border-white" width=230px height=300px alt='movieImage'   src = {{tblmovie.aImageLink}}/></a>
          <div  class="text-center">
            <h6 max-width=200px max-height=320px style="color:white; overflow: hidden;">{{tblmovie.aTitle}}</h6> 
            <p  style="color:white;">{{tblmovie.aPrice}}$
              {{tblmovie.aPurchasePrice}}$ 
              {{tblmovie.aRating}}⭐
            </p>
          </div>
        </div>
      </div>
    <!-- </div> -->
   </div>
</div>
<!-- <div class="d-flex justify-content-center" style="padding-top: 20px;">
  <pagination [boundaryLinks]="true" [totalItems]="pagination?.totalItems"
              [itemsPerPage]="pagination?.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
</div> -->