<nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: black; padding-left: 20px;">
  <a class="navbar-brand" [routerLink]="['/home']">CHEAPFLIX</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/movies']">Movie List </a>
      </li>
      <li *ngIf="!signedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link"  [routerLink]="['/login']">Sign In</a>
      </li>
      <li *ngIf="!signedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/register']" >Register</a>
      </li> 
      <!-- <li *ngIf="signedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/users']" >Users</a>
      </li>  -->
      <!-- <li *ngIf="signedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li> -->
      <li *ngIf="signedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" id="cart" [routerLink]="['/cart',authService.decodedToken.nameid]">Cart <span class="badge badge-dark"> {{cartItemCount}}  </span></a>   
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" style="padding-right: 30px;">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="signedIn" class="nav-item dropdown">
          <a id="dropdownMenuLink" class="nav-link dropdown-toggle"  href="#" 
           data-toggle="dropdown" 
          aria-haspopup="true" aria-expanded="false">
          Welcome {{authService.decodedToken.unique_name | titlecase}}</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" id="order" [routerLink]="['/users',authService.decodedToken.nameid]"  >
              <i class="fa fa-user"></i>
              Orders
            </a>
            <a class="dropdown-item" id="edit" [routerLink]="['/user/edit']"  >
              <i class="fa fa-user"></i>
              Edit Profile
            </a>
          </div>
        </li>
        <li *ngIf="signedIn" class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Log Out</a>
        </li>
      </ul>
    </form>
</nav>