<div class="container" style="padding-top: 80px;">
  <form class="form-inline my-2 my-lg-0">
    <button class="nav-link btn btn-outline-danger" [routerLink]="['/users']">Users</button>
    <button (click)="addToggle()" class="nav-link btn btn-outline-danger">Add Movie</button>
    <button (click)="deleteToggle()" class="nav-link btn btn-outline-danger">Delete Movie</button>
  </form>
  <div *ngIf="this.addMode" style="padding-top: 50px;">
    <div class="login_div" style="padding-bottom: 30px;">
      <form #movieForm="ngForm" class="form text-center" style="margin-top:-20px;" id="form1" (ngSubmit)="addMovie(model)">
        <p class="form-group">
          <label for="title">Movie Title </label>
          <br />
          <input class="form-control" name="aTitle" type="text" id="title" placeholder="Movie Title" required
            [(ngModel)]="model.aTitle" />
        </p>
        <p class="form-group">
          <label for="description">Description</label>
          <br />
          <input class="form-control" name="aMovieDescription" id="description" type="text" placeholder="Description" required
            [(ngModel)]="model.aMovieDescription" />
        </p>
        <p class="form-group">
          <label for="duration">Duration</label>
          <br />
          <input class="form-control" name="aDuration" id="duration" type="text" placeholder="Duration" required
            [(ngModel)]="model.aDuration" />
        </p>
        <p class="form-group">
          <label for="price">Rental Price</label>
          <br />
          <input class="form-control" name="aPrice" id="price" type="text" placeholder="Rental Price" required
            [(ngModel)]="model.aPrice" />
        </p>
        <p class="form-group">
          <label for="purchase">Purchase Price</label>
          <br />
          <input class="form-control" name="aPurchasePrice" id="purchase" type="text" placeholder="Purchase Price" required
            [(ngModel)]="model.aPurchasePrice" />
        </p>
        <p class="form-group">
          <label for="rating">Rating</label>
          <br />
          <input class="form-control" name="aRating" id="rating" type="text" placeholder="Rating" required
            [(ngModel)]="model.aRating" />
        </p>
        <p class="form-group">
          <label for="image">Image Link</label>
          <br />
          <input class="form-control" name="aImageLink" id="image" type="text" placeholder="Image Link" required
            [(ngModel)]="model.aImageLink" />
        </p>
        <p class="form-group">
          <label for="trailer">Trailer Link</label>
          <br />
          <input class="form-control" name="aTrailerLink" id="trailer" type="text" placeholder="Trailer Link" required
            [(ngModel)]="model.aTrailerLink" />
        </p>
        <p class="form-group">
          <label for="genre">Genre</label>
          <br />
          <input class="form-control" name="aGenre" id="genre" type="text" placeholder="Genre" required
            [(ngModel)]="model.aGenre" />
        </p>
        <p class="form-group">
          <label for="wide">Wide Image</label>
          <br />
          <input class="form-control" name="aWideImage" id="wide" type="text" placeholder="Wide Image" required
            [(ngModel)]="model.aWideImage" />
        </p>
        <button (click)="this.addMovie(model)" [disabled]="!movieForm.valid" class=" btn btn-outline-danger" type="submit">
          Add Movie</button>
          <br>
      </form>
    </div>  
  </div>
  <div>
    <div *ngIf="this.deleteMode" class="container" style="padding-top: 40px;">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 " type="text" name="search" [(ngModel)]="search" autocomplete = "off" box-sizing="border-box"
         style="color: #919191 ; background-color: #333; border: 2px solid #333;" 
         placeholder="Search" 
         aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0" 
        type="submit">Search</button>
        </form>
        <div style="padding-top: 40px;">
          <table class="table table-striped table-dark"  >
            <thead>
              <tr>
                <th scope="col">Movie Id</th>
                <th scope="col">Title</th>
                <th scope="col">Duration</th>
                <th scope="col">Rental Price</th>
                <th scope="col">Purchase Price</th>
                <th scope="col">Rating</th>
                <th scope="col">Genre</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let movie of movies | filter:search">
                <th scope="row">{{movie.aMovieId}}</th>
                <td>{{movie.aTitle}}</td>
                <td>{{movie.aDuration}}</td>
                <td>{{movie.aPrice}}</td>
                <td>{{movie.aPurchasePrice}}</td>
                <td>{{movie.aRating}}</td>
                <td>{{movie.aGenre}}</td>
                <td><a class="nav-link" href="#" (click)="deleteMovie(movie.aMovieId)" >Delete</a></td>
              </tr> 
            </tbody>
          </table>
        </div>
      
  </div>
</div>
</div>


<!-- [routerLink]="['/users']" -->
