<div class="container search-product" style="padding-top: 70px;">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2 " type="text" name="search" [(ngModel)]="search" autocomplete = "off" box-sizing="border-box"
     style="color: #919191 ; background-color: #333; border: 2px solid #333;" 
     placeholder="Search" 
     aria-label="Search">
    <button class="btn btn-outline-danger my-2 my-sm-0" 
    type="submit">Search</button>
  <div class="col" >
    <div class="btn-group float-right">
      <button type="button" name="orderBy" class="btn btn-outline-danger" 
      [(ngModel)]="userParams.orderBy" (click)="loadUsers()" btnRadio="acustomerid">Id</button>
      <button type="button" name="orderBy" class="btn btn-outline-danger"
       [(ngModel)]="userParams.orderBy" (click)="loadUsers()" btnRadio="username">Username</button>
    </div>
  </div>
  </form>
</div>
<div class="container" style="padding-top: 30px;">
  <table class="table table-striped table-dark"  >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Admin</th>
        <th scope="col">Orders</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filter:search">
        <th scope="row">{{user.aCustomerId}}</th>
        <td>{{user.aname}}</td>
        <td>{{user.aUsername}}</td>
        <td>{{user.aEmail}}</td>
        <td>{{user.aPhone}}</td>
        <td>{{user.aAddress}}</td>
        <td>{{user.age}}</td>
        <td>{{user.aAdmin}}</td>
        <td><a class="nav-link" [routerLink]="['/users',user.aCustomerId]">Orders</a></td>
      </tr> 
    </tbody>
  </table>
</div>